@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
#contact_container {
  margin: 0px 10px;
  box-shadow: 6px 6px 4px #737373;
  height: 100vh;
}
#contact_container hr {
  margin: 5px 10px;
}

#contact_container h1 {
  font-family: 'Open Sans', sans-serif;
  margin: 5px;
}
